services/app/src/main/resources/validation-files/Акт испытания внутреннего противопожарного водопровода/idActs/AIVPV.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema version="1.0.0"
  targetNamespace="http://idActs/AIVPV.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cf="http://idActs/AIVPV.xsd"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="aivpv">
    <xs:annotation>
      <xs:documentation>
        Акт испытания внутреннего противопожарного водопровода на работоспособность
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="actInfo">
            <xs:annotation>
              <xs:documentation>Подписываемая часть</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="documentDetails" type="ct:actRequisites">
                  <xs:annotation>
                    <xs:documentation>Реквизиты документа</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="permanentObjectInfo" type="ct:permanentObjectInfo">
                  <xs:annotation>
                    <xs:documentation>Объект капитального строительства</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:choice>
                  <xs:element name="developer" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                    <xs:annotation>
                      <xs:documentation>Застройщик</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="technicalCustomer" type="ct:organizationWithOptionalSroAndId">
                    <xs:annotation>
                      <xs:documentation>Технический заказчик</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="operatingPerson" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                    <xs:annotation>
                      <xs:documentation>Лицо, ответственное за эксплуатацию здания, сооружения</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="regionalOperator" type="ct:organizationWithOptionalSroAndId">
                    <xs:annotation>
                      <xs:documentation>Региональный оператор</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
                <xs:element name="buildingContractor" type="ct:organizationWithOptionalSroAndId">
                  <xs:annotation>
                    <xs:documentation>Лицо, осуществляющее строительство</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="projectDocumentationContractor" type="ct:organizationWithOptionalSroAndId">
                  <xs:annotation>
                    <xs:documentation>Лицо, осуществляющее подготовку проектной документации</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="workExecutor" type="ct:organizationWithOptionalSroAndId" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Лицо, выполнившее работы/конструкции/участки сетей</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="utilitySystemsOperator" type="ct:organizationWithId" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Лицо, ответственное за эксплуатацию сетей инженерно-технического обеспечения
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="participantControlRepresentative" type="ct:representativeWithIDNRAndOrganization">
                  <xs:annotation>
                    <xs:documentation>
                      Представитель застройщика / технического заказчика / лица, ответственного за эксплуатацию здания, сооружения / регионального оператора по вопросам строительного контроля (в зависимости от выбора участника)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="buildingContractorRepresentative" type="ct:actsRepresentativeWithIdAndOrder">
                  <xs:annotation>
                    <xs:documentation>Сведения о представителе лица, осуществляющего строительство</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="buildingContractorControlRepresentative" type="ct:actsRepresentativeWithIdAndOrderAndIDNR">
                  <xs:annotation>
                    <xs:documentation>
                      Сведения о представителе лица, осуществляющего строительство по вопросам строительного контроля
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="projectDocumentationContractorRepresentative" type="ct:actsRepresentativeWithOptionalOrganization" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Сведения о представителе лица, осуществляющего подготовку проектной документации
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="workExecutorRepresentative" type="ct:actsRepresentativeWithIdAndOrder" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Представитель лица, выполнившего работы/конструкции/участки сетей</xs:documentation>
                  </xs:annotation>
                </xs:element> 
                <xs:element name="utilitySystemsOperatorRepresentative" type="ct:actsRepresentativeWithIdAndOrder" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Представитель лица, ответственного за эксплуатацию сетей инженерно-технического обеспечения
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="testingWorksInfo" type="ct:testingWorksInfo">
                  <xs:annotation>
                    <xs:documentation>
                      Сведения о работе по испытанию смонтированного оборудования/системы
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="worksInfoList" type="ct:worksInfoList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Работы / скрытые работы, выполненные в отношении конструкции / участка сетей</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="internalFireWaterPipelineSystem">
                  <xs:annotation>
                    <xs:documentation>Внутренний противопожарный водопровод, предъявляемый к приемке</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="systemName" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Наименование системы</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="location" type="ct:location">
                        <xs:annotation>
                          <xs:documentation>Местоположение</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="constructionStructureElement">
                        <xs:annotation>
                          <xs:documentation>
                            Структурный элемент здания, строения или сооружения
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="structureElementId" type="bt:GUID" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Id структурного элемента</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="structureElementName" type="bt:notEmptyString">
                              <xs:annotation>
                                <xs:documentation>Наименование структурного элемента здания, строения или сооружения</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="testingPeriod" type="ct:datetimeInterval">
                  <xs:annotation>
                    <xs:documentation>Дата и время испытаний</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="fireWaterElements">
                  <xs:annotation>
                    <xs:documentation>Элементы пожарного водопровода</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="fireHydrantsAndStandPipesNumbers">
                        <xs:annotation>
                          <xs:documentation>Номера стояков и пожарных кранов</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:choice>
                            <xs:element name="variantRequiredStandPipesNumbersList">
                              <xs:annotation>
                                <xs:documentation>Вариант с обязательным элементом "Номера стояков"</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="standPipesNumbersList">
                                    <xs:annotation>
                                      <xs:documentation>Номера стояков</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="standPipesNumber" type="xs:positiveInteger" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Номер стояка (целое число)</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="fireHydrantsNumbersList" type="ct:fireHydrantsNumbersList" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Номера пожарных кранов</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="variantRequiredFireHydrantsNumbersList">
                              <xs:annotation>
                                <xs:documentation>Вариант с обязательным элементом "Номера пожарных кранов"</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="fireHydrantsNumbersList" type="ct:fireHydrantsNumbersList">
                                    <xs:annotation>
                                      <xs:documentation>Номера пожарных кранов</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="fireHydrantValveType" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Тип клапана пожарного крана</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="handFireBarrelType" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Тип ручного пожарного ствола</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="fireHoseLength" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>Длина пожарного рукава</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="fireHoseDiameter" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>Диаметр пожарного рукава</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="firePumpType" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Тип пожарного насоса</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="firePumpPressure" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>Напор пожарного насоса при закрытых пожарных кранах</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="normativeParameters">
                  <xs:annotation>
                    <xs:documentation>Нормативные параметры системы при испытаниях</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="fireHydrantConsumption" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>Расход "диктующего" пожарного крана</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="fireHydrantPressure">
                        <xs:annotation>
                          <xs:documentation>Давление у "диктующего" пожарного крана</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="value" type="bt:positiveDecimals">
                              <xs:annotation>
                                <xs:documentation>Значение</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="unit">
                              <xs:annotation>
                                <xs:documentation>
                                  Единица измерения
                                  Допустимые значения:
                                  - МПа
                                </xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="bt:notEmptyString">
                                  <xs:enumeration value="МПа" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="testingFireHydrantsNumber" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>Количество одновременно испытываемых пожарных кранов на водоотдачу</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="waterRecoveryTestResult">
                  <xs:annotation>
                    <xs:documentation>Результат испытаний водоотдачи ВПВ</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="waterRecoveryValue" type="ct:valueAndUnits">
                        <xs:annotation>
                          <xs:documentation>
                            Водоотдача ВПВ в период суток наибольшего потребления воды на хозяйственные нужды от 12 ч 00 мин до 17 ч 00 мин
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="accordantWorkAndProjectDocumentation" type="ct:accordantWorkAndProjectDocumentation">
                        <xs:annotation>
                          <xs:documentation>Требования, которым соответствует предмет освидетельствования</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="fireHydrantsValvesTestResult">
                  <xs:annotation>
                    <xs:documentation>Заключение по результатам испытаний клапанов пожарных кранов</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="valvesTurnManually" type="xs:boolean">
                        <xs:annotation>
                          <xs:documentation>
                            Запорные органы клапанов перемещаются вручную (без дополнительных технических средств) 
                            из одного крайнего положения в другое
                            (логический (булевый) тип, допустимые значения - true/false)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="noLeaks" type="xs:boolean">
                        <xs:annotation>
                          <xs:documentation>
                            Протечки через запорные органы клапанов и через 
                            уплотнения штока после не менее трех циклов открытия и закрытия отсутствуют
                            (логический (булевый) тип, допустимые значения - true/false)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="correctDiaphragmsDiameter" type="xs:boolean">
                        <xs:annotation>
                          <xs:documentation>
                            Диаметр диафрагм соответствует проектным данным
                            (логический (булевый) тип, допустимые значения - true/false)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="accordantWorkAndProjectDocumentation" type="ct:accordantWorkAndProjectDocumentation">
                        <xs:annotation>
                          <xs:documentation>Требования, которым соответствует работоспособность клапанов пожарных кранов</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                <xs:annotation>
                  <xs:documentation>Id подписываемой части</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="participantControlRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Подпись представителя застройщика / технического заказчика / лица, ответственного за эксплуатацию здания, сооружения / регионального оператора по вопросам строительного контроля (в зависимости от выбора участника)
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="buildingContractorRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Подпись представителя лица, осуществляющего строительство
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="buildingContractorControlRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Подпись представителя лица, осуществляющего строительство по вопросам строительного контроля
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="projectDocumentationContractorRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Подпись представителя лица, осуществляющего подготовку проектной документации
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="workExecutorRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись представителя лица, выполнившего работы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="utilitySystemsOperatorRepresentativeSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Подпись представителя организации, осуществляющей эксплуатацию сетей инженерно-технического обеспечения
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="actsServiceAttributes" type="ct:docServiceAttributes">
            <xs:annotation>
              <xs:documentation>Служебные атрибуты документа ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="aivpv" type="cf:aivpv" />
</xs:schema>
