services/app/src/main/resources/validation-files/ЖВК/sk/MaterialsSelection.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://sk/MaterialsSelection.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:bd="http://types/BaseDocument.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:cf="http://sk/MaterialsSelection.xsd"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="materialsSelection">
    <xs:annotation>
      <xs:documentation>
        Общие данные к журналу входного контроля материалов (ЖВК) (верификации закупленной продукции)
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="permanentObjectId" type="bt:GUID">
            <xs:annotation>
              <xs:documentation>Id объекта капитального строительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="organizationsAndRepresentativesList">
            <xs:annotation>
              <xs:documentation>
                Список организаций и их представителей, выполняющих входной контроль материалов
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="organizationsAndRepresentativesListItem" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>
                      Организация и её представители, выполняющие входной контроль материалов
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="participantId" type="bt:GUID">
                        <xs:annotation>
                          <xs:documentation>ID участника</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="validationResponsibleRepresentativesList">
                        <xs:annotation>
                          <xs:documentation>
                            Список представителей строительной организации, ответственных за верификацию
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="validationResponsibleRepresentativesListItem" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  Представитель строительной организации, ответственный за верификацию
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="validationResponsibleRepresentativeSignedPart">
                                    <xs:annotation>
                                      <xs:documentation>
                                        Подписываемая часть информации о представителе, ответственном за верификацию
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:complexContent>
                                        <xs:extension base="ct:representativeWithId">
                                          <xs:sequence>
                                            <xs:element name="administrativeDocument" type="ct:administrativeDocument">
                                              <xs:annotation>
                                                <xs:documentation>Распорядительный документ, подтверждающий полномочия</xs:documentation>
                                              </xs:annotation>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                                            <xs:annotation>
                                              <xs:documentation>
                                                Id подписываемой части информации о представителе, ответственном за верификацию
                                              </xs:documentation>
                                            </xs:annotation>
                                          </xs:attribute>
                                        </xs:extension>
                                      </xs:complexContent>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="validationResponsibleRepresentativeSignature" type="ct:signature">
                                    <xs:annotation>
                                      <xs:documentation>Подпись представителя строительной организации, ответственного за верификацию</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="materialsSelection" type="cf:materialsSelection" />
</xs:schema>