services/app/src/main/resources/validation-files/AOOK/AOOK.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema version="1.0.0"
  targetNamespace="http://idActs/AOOK.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cf="http://idActs/AOOK.xsd"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
>
  <xs:import schemaLocation="CommonTypes.xsd" namespace="http://types/CommonTypes.xsd"/>
  <xs:import schemaLocation="BaseTypes.xsd" namespace="http://types/BaseTypes.xsd"/>
  <xs:import schemaLocation="BaseDocument.xsd" namespace="http://types/BaseDocument.xsd"/>

  <xs:complexType name="aook">
    <xs:annotation>
      <xs:documentation>
        Акт освидетельствования строительных конструкций, устранение недостатков в которых невозможно без разборки или повреждения других строительных конструкций и участков сетей инженерно-технического обеспечения (ответственных конструкций)
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="actInfo">
            <xs:annotation>
              <xs:documentation>Информация в акте, которую надо подписать</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActInfoGroup">
                  <xs:annotation>
                    <xs:documentation>
                      Блоки общих данных для актов
                      Правила заполнения:

                      В элементах developer, technicalCustomer, operatingPerson или regionalOperator:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области инженерных изысканий, архитектурно-строительного проектирования,
                      строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе buildingContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе projectDocumentationContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области архитектурно-строительного проектирования не требуется

                      Элемент date (Дата составления) акта является датой установления факта соответствия
                      результатов работ требованиями не всегда равна дате завершения работ

                      Элементы developerRepresentative, technicalCustomerRepresentative, 
                      operatingPersonRepresentative или regionalOperatorRepresentative заполняются в 
                      случае осуществления строительства, реконструкции, капитального ремонта на 
                      основании договора строительного подряда. При этом, элемент organization заполняется
                      в случае осуществления строительного контроля на основании договора с застройщиком 
                      или техническим заказчиком

                      Элемент projDocContractRepresentative заполняется в случаях, когда осуществляется 
                      авторский надзор. При этом, элемент organization заполняется в случае осуществления 
                      авторского надзора лицом, не являющимся разработчиком проектной документации

                      Элемент workExecutorRepresentative заполняется в случае выполнения работ по договорам
                      остроительстве, реконструкции, капитальном ремонте объектов капитального строительства,
                      заключенным с иными лицами

                      Элемент otherRepresentativesList заполняется в случае присутствия иных лиц,
                      участвующих в освидетельствовании. При этом, если ранее организация не была 
                      упомянута в акте, то помимо её наименования необходимо указать ОГРН, ИНН, 
                      место нахождения юридического лица, адрес места жительства, ОГРНИП, ИНН 
                      индивидуального предпринимателя
                    </xs:documentation>
                  </xs:annotation>
                </xs:group>
                <xs:element name="criticalConstructionsInspector" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                  <xs:annotation>
                    <xs:documentation>
                      Лицо, выполнившее работы/конструкции/участки сетей, в отношении которых проведено освидетельствование
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="inspectedCriticalConstructionsList">
                  <xs:annotation>
                    <xs:documentation>Ответственные конструкции, предъявленные к освидетельствованию</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="inspectedCriticalConstructionsListItem" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>
                            Информация о конструкции, предъявленной к освидетельствованию
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="structureElementId" type="bt:notEmptyString" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>id структурного элемента</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="workAndControlJournalsRecords" type="ct:journalRecordLinkGroup">
                              <xs:annotation>
                                <xs:documentation>Записи в журналах работ и контроля</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="structureElementName" type="bt:notEmptyString">
                              <xs:annotation>
                                <xs:documentation>
                                  Наименование и обозначение конструктивного элемента здания, строения или сооружения
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="structureAmountInfo" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Количество данного наименования конструкций</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="amount" type="xs:nonNegativeInteger">
                                    <xs:annotation>
                                      <xs:documentation>Количество</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="unit" type="bt:notEmptyString">
                                    <xs:annotation>
                                      <xs:documentation>Единица измерения</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="location" type="ct:location">
                              <xs:annotation>
                                <xs:documentation>Местоположение</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="workAndProjectDocumentationsList">
                  <xs:annotation>
                    <xs:documentation>Проектная/рабочая документация, по которой выполнены работы (список)</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="workAndProjectDocumentationsListItem" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Проектная/рабочая документация, по которой выполнены работы</xs:documentation>
                          </xs:annotation>
                          <xs:sequence>
                            <xs:element name="workAndProjectDocumentation" type="ct:workAndProjectDocumentation">
                              <xs:annotation>
                                <xs:documentation>Сведения о разделах проектной и/или рабочей документации</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="organization">
                              <xs:annotation>
                                <xs:documentation>
                                  Организация, выполнившая соответствующий раздел рабочей (проектной) документации
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:choice>
                                  <xs:element name="fullOrganizationInfo" type="ct:organizationWithOptionalSroAndId">
                                    <xs:annotation>
                                      <xs:documentation>Полная информация об организации</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="shortOrganizationInfo" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                                    <xs:annotation>
                                      <xs:documentation>Краткая информация об организации (ID, ФИО ИП / наименование ЮЛ)</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="inspectedHiddenWorksList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Скрытые работы, выполненные в отношении конструкции/ участка сетей
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element
                        name="inspectedHiddenWorksListItem"
                        type="ct:hiddenWork"
                        maxOccurs="unbounded"
                      >
                      <xs:annotation>
                        <xs:documentation>
                          Скрытая работа, выполненная в отношении конструкции/участка сетей
                        </xs:documentation>
                      </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="usedMaterialslist">
                  <xs:annotation>
                    <xs:documentation>Материалы, примененные при выполнении работ</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="usedMaterialslistItem" type="ct:material" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Материал, примененный при выполнении работ</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="examinationDocuments" type="ct:examinationDocuments">
                  <xs:annotation>
                    <xs:documentation>
                      Документы, подтверждающие соответствие работ предъявляемым к ним требованиям
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="trialDocsList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Сведения о проведённых испытаниях и опробованиях (список файлов документов)</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="trialDoc" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Документ по результатам испытаний (опробований)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent>
                            <xs:extension base="ct:docBaseInfoWithFile">
                              <xs:sequence>
                                <xs:element name="trialName" type="bt:notEmptyString">
                                  <xs:annotation>
                                    <xs:documentation>Наименование испытания (опробования)</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="worksDates" type="ct:dateInterval">
                  <xs:annotation>
                    <xs:documentation>Даты начала и окончания работ</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="accordantWorkAndProjectDocumentation" type="ct:accordantWorkAndProjectDocumentation">
                  <xs:annotation>
                    <xs:documentation>Требования, которым соответствует предмет освидетельствования</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="permittedActions">
                  <xs:annotation>
                    <xs:documentation>
                      Разрешённые действия по результатам освидетельствования ответственных конструкций
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:choice>
                        <xs:element
                          name="allowedToUseForPurpose"
                          type="bt:notEmptyString"
                          fixed="Разрешается использование конструкций по назначению"
                        >
                          <xs:annotation>
                            <xs:documentation>
                              Вариант "Разрешается использование конструкций по назначению"
                              (фиксированное значение элемента - "Разрешается использование конструкций по назначению")
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="allowedToUseWithPartLoad">
                          <xs:annotation>
                            <xs:documentation>
                              Разрешается использование конструкций по назначению с нагружением в размере % проектной нагрузки
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="partLoadPercentage" type="bt:positiveDecimals">
                                <xs:annotation>
                                  <xs:documentation>Доля от проектной нагрузки в процентах</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="allowedToUseWithFullLoadWithConditions">
                          <xs:annotation>
                            <xs:documentation>Разрешается полное нагружение при выполнении следующих условий</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="conditionsList">
                                <xs:annotation>
                                  <xs:documentation>
                                    Условия, которые необходимо выполнить для обеспечения возможности полного (проектного) нагружения конструкции
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="conditionsListItem" type="bt:notEmptyString" maxOccurs="unbounded">
                                      <xs:annotation>
                                        <xs:documentation>
                                          Условие, которое необходимо выполнить для обеспечения возможности полного (проектного) нагружения конструкции
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                      <xs:element name="allowedToPerformFollowingWorks" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Разрешается производство последующих работ</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="workId" type="bt:GUID" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>id работы</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="structureElementId" type="bt:GUID" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>id структурного элемента</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:choice>
                              <xs:element name="worksName" type="bt:notEmptyString">
                                <xs:annotation>
                                  <xs:documentation>Наименование работ</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="constructionsName" type="bt:notEmptyString">
                              <xs:annotation>
                                <xs:documentation>Наименование конструкций</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="attachmentslist" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Приложения</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="attachmentslistItem" type="ct:actAttachment" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Приложение</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="xs:string" fixed="actInfo" use="required">
                <xs:annotation>
                  <xs:documentation>Подписываемая часть</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="signatures" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подписи</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActSignaturesGroup">
                  <xs:annotation>
                    <xs:documentation>Блок подписей для актов</xs:documentation>
                  </xs:annotation>
                </xs:group>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="actsServiceAttributes" type="ct:docServiceAttributes">
            <xs:annotation>
              <xs:documentation>Служебные атрибуты документа ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="aook" type="cf:aook" />
</xs:schema>
