services/app/src/main/resources/validation-files/Журнал бетонных работ/idJournals/idSpJournalConcreteWorks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  version="1.0"
  targetNamespace="http://v_17_0/idJournals/idSpJournalConcreteWorks.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cf="http://v_17_0/idJournals/idSpJournalConcreteWorks.xsd"
  xmlns:ct="http://v_17_0/types/CommonTypes.xsd"
  xmlns:bt="http://v_17_0/types/BaseTypes.xsd"
  xmlns:bd="http://v_17_0/types/BaseDocument.xsd"
>
  <xs:import schemaLocation="../CommonTypes.xsd" namespace="http://v_17_0/types/CommonTypes.xsd" />
  <xs:import schemaLocation="../BaseTypes.xsd" namespace="http://v_17_0/types/BaseTypes.xsd" />
  <xs:import schemaLocation="../BaseDocument.xsd" namespace="http://v_17_0/types/BaseDocument.xsd" />

  <xs:complexType name="idSpJournalConcreteWorks">
    <xs:annotation>
      <xs:documentation>Журнал бетонных работ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="buildingContractorFinishSignedPart">
            <xs:annotation>
              <xs:documentation>
                Подписываемая часть журнала бетонных работ
                (подписант - представитель лица, осуществляющего строительство; ставится закрывающая подпись)
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="buildingContractorSignedPart">
                  <xs:annotation>
                    <xs:documentation>
                      Подписываемая часть журнала бетонных работ
                      (подписант - представитель лица, осуществляющего строительство)
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="journalRequisites" type="ct:journalRequisites">
                        <xs:annotation>
                          <xs:documentation>Реквизиты документа (журнал)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="participantBuildingContractor" type="ct:organizationWithOptionalSroAndId">
                        <xs:annotation>
                          <xs:documentation>Лицо, осуществляющее строительство (ЛОС)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="participantWorkExecutorList" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Лица, выполняющие вид работ</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="participantWorkExecutor" type="ct:organizationWithOptionalSroAndId" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Лицо, выполняющее вид работ</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice minOccurs="0">
                        <xs:element name="participantDeveloper" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                          <xs:annotation>
                            <xs:documentation>Застройщик</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="participantTechnicalCustomer" type="ct:organizationWithOptionalSroAndId">
                          <xs:annotation>
                            <xs:documentation>Технический заказчик</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="participantBuildingOperator" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                          <xs:annotation>
                            <xs:documentation>Лицо, ответственное за эксплуатацию здания, сооружения</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="participantRegionalBuildingOperator" type="ct:organizationWithOptionalSroAndId">
                          <xs:annotation>
                            <xs:documentation>Региональный оператор</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:choice>
                      <xs:element name="permanentObjectInfo" type="ct:permanentObjectInfo">
                        <xs:annotation>
                          <xs:documentation>Объект капитального строительства</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="projectInfo" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Проектные данные</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="concreteStrengthGradeList">
                              <xs:annotation>
                                <xs:documentation>
                                  Перечень классов бетона по прочности на сжатие конструктивных элементов
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="concreteStrengthGrade" maxOccurs="unbounded">
                                    <xs:annotation>
                                      <xs:documentation>
                                        Класс бетона по прочности на сжатие конструктивных элементов
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="structuralElement" type="bt:notEmptyString">
                                          <xs:annotation>
                                            <xs:documentation>Конструктивный элемент</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="concreteClass" type="bt:notEmptyString">
                                          <xs:annotation>
                                            <xs:documentation>Класс бетона</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="concreteVolume" type="ct:valueAndUnits">
                              <xs:annotation>
                                <xs:documentation>Объем бетона (общий)</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="unreinforcedConcreteVolume" type="ct:valueAndUnits">
                              <xs:annotation>
                                <xs:documentation>Объем бетона (неармированного)</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="reinforcedConcreteVolume" type="ct:valueAndUnits">
                              <xs:annotation>
                                <xs:documentation>Объем бетона (армированного)</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="projectDocumentation" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Проектная документация</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="projectDocumentationSectionList">
                                    <xs:annotation>
                                      <xs:documentation>Разделы проектной документации</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="projectDocumentationSection" type="ct:documentationSection" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Раздел проектной документации</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="participantDesigner" type="ct:organizationWithOptionalSroAndId">
                                    <xs:annotation>
                                      <xs:documentation>Лицо, осуществляющее подготовку проектной документации</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="workDocumentation" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Рабочая документация</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="workDocumentationSectionList">
                                    <xs:annotation>
                                      <xs:documentation>Разделы рабочей документации</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="workDocumentationSection" type="ct:documentationSection" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Раздел рабочей документации</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="participantDesigner" type="ct:organizationWithOptionalSroAndId">
                                    <xs:annotation>
                                      <xs:documentation>Лицо, осуществляющее подготовку рабочей документации, по которой выполнены работы</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="representativeBuildingContractor" type="ct:actsRepresentativeWithIdAndOrderAndIDNR">
                        <xs:annotation>
                          <xs:documentation>Уполномоченный представитель лица, осуществляющего строительство (ЛОС)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="titleBuildingContractorSignedPartId" type="bt:GUIDandUnderscore">
                        <xs:annotation>
                          <xs:documentation>ID подписываемой части на титульном листе представителя Лица, осуществляющего строительство</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="titleCustomerSignedPartId" type="bt:GUIDandUnderscore">
                        <xs:annotation>
                          <xs:documentation>ID подписываемой части на титульном листе представителя Застройщика (технического заказчика)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="participantBuildingContractorWithRepresentatives">
                        <xs:annotation>
                          <xs:documentation>
                            Лицо, осуществляющее строительство, выполняющее вид работ, и его представители (ID)
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="participantId" type="bt:GUID">
                              <xs:annotation>
                                <xs:documentation>ID участника - лица, осуществляющего строительство</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="representativeBuildingContractorSignedPartIdList">
                              <xs:annotation>
                                <xs:documentation>
                                  Список ID подписываемых блоков информации о представителях лица, осуществляющего строительство
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="representativeBuildingContractorSignedPartId" type="bt:GUIDandUnderscore" maxOccurs="unbounded">
                                    <xs:annotation>
                                      <xs:documentation>
                                        ID подписываемого блока информации о представителе лица, осуществляющего строительство
                                      </xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="participantWorkExecutorWithRepresentativesList" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            Список других лиц, выполняющих вид работ, и его представители (ID)
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="participantWorkExecutorWithRepresentatives" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Лицо, выполняющее вид работ, и его представители (ID)</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="participantId" type="bt:GUID">
                                    <xs:annotation>
                                      <xs:documentation>ID участника - лица, выполняющего работы</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="representativeWorkExecutorSignedPartIdList">
                                    <xs:annotation>
                                      <xs:documentation>
                                        Список ID подписываемых блоков информации о представителях лица, выполняющего работы
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="representativeWorkExecutorSignedPartId" type="bt:GUIDandUnderscore" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>
                                              ID подписываемого блока информации о представителе лица, выполняющего работы
                                            </xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="idSpJournalConcreteWorksRecordRequisitesList">
                        <xs:annotation>
                          <xs:documentation>Сведения о производстве бетонных работ (список реквизитов записей)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idSpJournalConcreteWorksRecordRequisites" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Реквизиты записи журнала об укладке бетона</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="recordId" type="bt:GUID">
                                    <xs:annotation>
                                      <xs:documentation>ID записи</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="recordEdition" type="xs:positiveInteger">
                                    <xs:annotation>
                                      <xs:documentation>Редакция (версия) записи</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="recordStatus">
                                    <xs:annotation>
                                      <xs:documentation>
                                        Статус записи
                                        Допустимые значения:
                                        - On_revision (На доработке, частично подписанный)
                                        - Signed (Подписан)
                                        - Canceled (Аннулирован)
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                      <xs:restriction base="bt:notEmptyString">
                                        <xs:enumeration value="On_revision" />
                                        <xs:enumeration value="Signed" />
                                        <xs:enumeration value="Canceled" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="journalLogStartDate" type="xs:date">
                        <xs:annotation>
                          <xs:documentation>Дата начала ведения журнала</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="journalVolume" type="xs:positiveInteger">
                        <xs:annotation>
                          <xs:documentation>
                            Объем специального журнала работ
                            (количество записей сведений о производстве работ)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="idJournalChangeRecordIdList" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            Сведения об изменениях в специальном журнале работ (список ID записей об изменениях)
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idJournalChangeRecordId" type="bt:GUID" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>ID записи об изменениях в специальном журнале работ</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                      <xs:annotation>
                        <xs:documentation>
                          ID подписываемой части журнала бетонных работ
                          (подписант - представитель лица, осуществляющего строительство)
                        </xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="representativeBuildingContractorSignature" type="ct:signature" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Подпись уполномоченного представителя лица, осуществляющего строительство
                      (Для передачи специального журнала работ на стадии "в работе" для проверки по требованию (например, ГСН). Если специальный журнал работ необходимо направить на проверку, когда производство работ по данному виду работ не завершено, то заполняется данное поле и делается копия, подписывается, и отправляется. При этом в оригинальной схеме продолжаются работы и наполняемость схемы записями. Только версия (редакция) из реквизитов документа в оригинальной схеме изменятся на следующую. Идентификатор документа остается неизменным.)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="journalLogEndDate" type="xs:date" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Дата окончания ведения журнала</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element 
                  name="journalEndMark" 
                  type="bt:notEmptyString" 
                  fixed="Работы завершены. Журнал закрыт." 
                  minOccurs="0"
                >
                  <xs:annotation>
                    <xs:documentation>
                      Отметка об окончании ведения специального журнала работ
                      (Фиксированное значение: "Работы завершены. Журнал закрыт.")
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                <xs:annotation>
                  <xs:documentation>
                    ID подписываемой части журнала бетонных работ
                    (подписант - представитель лица, осуществляющего строительство; ставится закрывающая подпись)
                  </xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="representativeBuildingContractorSignature" type="ct:signature" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                Закрывающая подпись уполномоченного представителя лица, осуществляющего строительство
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="docServiceAttributes" type="ct:baseDocServiceAttributes">
            <xs:annotation>
              <xs:documentation>Служебные атрибуты документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="docSchemaVersion" type="bt:docSchemaVersion" use="required" fixed="1.0">
          <xs:annotation>
            <xs:documentation>Версия схемы, по которой составлен документ</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="idSpJournalConcreteWorks" type="cf:idSpJournalConcreteWorks" />
</xs:schema>
