xml-doc-flow-backend/services/app/src/main/resources/validation-files/gsnActControlEventResult/gsn/gsnActControlEventResult.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified"
  targetNamespace="http://gsn/gsnActControlEventResult.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
  xmlns:cf="http://gsn/gsnActControlEventResult.xsd"
>
  <xs:import schemaLocation="../CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="gsnActControlEventResult">
    <xs:annotation>
      <xs:documentation>
        Акт по результатам контрольного (надзорного) мероприятия без взаимодействия с контролируемым лицом
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="signedPart">
            <xs:annotation>
              <xs:documentation>Подписываемая часть</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="actRequisites">
                  <xs:annotation>
                    <xs:documentation>Реквизиты акта</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="documentDetails" type="ct:docNameAndNumberAndDate">
                        <xs:annotation>
                          <xs:documentation>Реквизиты документа</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="controlEventType" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Вид контрольного (надзорного) мероприятия</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="supervisoryAuthorityInfo" type="ct:legalEntityWithId">
                        <xs:annotation>
                          <xs:documentation>Сведения об органе государственного строительного надзора</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="actInfo">
                  <xs:annotation>
                    <xs:documentation>Содержание акта</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="gsnAssignmentControlEvent" type="ct:docNameAndNumberAndDate">
                        <xs:annotation>
                          <xs:documentation>
                            Реквизиты задания на проведение контрольного (надзорного) мероприятия без взаимодействия (ГСН 17.1.1)
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="supervisoryAuthorityRepresentativesList">
                        <xs:annotation>
                          <xs:documentation>Сведения о должностных лицах контрольного (надзорного) органа</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="supervisoryAuthorityRepresentative" type="ct:representativeWithOptionalId" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Сведения о должностном лице контрольного (надзорного) органа</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:element name="variantRequiredControlledOrganization">
                          <xs:annotation>
                            <xs:documentation>Вариант с обязательным элементом "Контролируемое лицо"</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="controlledOrganization" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                                <xs:annotation>
                                  <xs:documentation>Контролируемое лицо</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="permanentObjectInfo" type="ct:permanentObjectInfo" minOccurs="0">
                                <xs:annotation>
                                  <xs:documentation>Объект капитального строительства</xs:documentation>
                                </xs:annotation>
                              </xs:element>  
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="variantRequiredPermanentObjectInfo">
                          <xs:annotation>
                            <xs:documentation>Вариант с обязательным элементом "Объект капитального строительства"</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="permanentObjectInfo" type="ct:permanentObjectInfo">
                                <xs:annotation>
                                  <xs:documentation>Объект капитального строительства</xs:documentation>
                                </xs:annotation>
                              </xs:element>  
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element> 
                      </xs:choice>
                      <xs:element name="controlEventPeriod">
                        <xs:annotation>
                          <xs:documentation>Период проведения контрольного (надзорного) мероприятия</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="beginDate" type="xs:date">
                              <xs:annotation>
                                <xs:documentation>Дата начала</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="endDate" type="xs:date" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Дата окончания</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="controlEventResult">
                        <xs:annotation>
                          <xs:documentation>Результаты проверки</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice>
                              <xs:element name="noViolations" type="bt:notEmptyString">
                                <xs:annotation>
                                  <xs:documentation>Вывод об отсутствии нарушений</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="identifiedViolationsList">
                                <xs:annotation>
                                  <xs:documentation>Выявленные нарушения</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="identifiedViolation" type="ct:identifiedViolation" maxOccurs="unbounded">
                                      <xs:annotation>
                                        <xs:documentation>Выявленное нарушение</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="attachedEntitiesList" type="ct:attachedEntitiesList" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Приложения</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="actAuthor" type="ct:representativeWithOptionalId">
                  <xs:annotation>
                    <xs:documentation>Лицо, составившее акт</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                <xs:annotation>
                  <xs:documentation>Id подписываемой части</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="signature" type="ct:signature">
            <xs:annotation>
              <xs:documentation>Подпись</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="gsnActControlEventResult" type="cf:gsnActControlEventResult" />
</xs:schema>
