services/app/src/main/resources/validation-files/Предписание об устранении выявленных нарушений/gsn/gsn223.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://gsn/gsn223.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
  xmlns:cf="http://gsn/gsn223.xsd"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="gsn223">
    <xs:annotation>
      <xs:documentation>
        Предписание
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="controlledPersonSignedPart">
            <xs:annotation>
              <xs:documentation>Информация, подписываемая представителем контролируемого лица</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="gsnInfo">
                  <xs:annotation>
                    <xs:documentation>Информация о предписании (подписывается лицом, выдавшим предписание)</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="orderRequisites">
                        <xs:annotation>
                          <xs:documentation>Реквизиты предписания</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="documentDetails" type="ct:docNameAndNumberAndDate">
                              <xs:annotation>
                                <xs:documentation>Реквизиты документа</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="supervisoryAuthorityInfo" type="ct:legalEntityWithId">
                              <xs:annotation>
                                <xs:documentation>Сведения об органе государственного строительного надзора</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="compilationPlace" type="bt:notEmptyString" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Место составления</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="supervisoryCase" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Надзорное дело</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="caseId" type="bt:GUID">
                                    <xs:annotation>
                                      <xs:documentation>Идентификатор дела</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="caseNumber" type="bt:notEmptyString">
                                    <xs:annotation>
                                      <xs:documentation>Номер дела</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="orderInfo">
                        <xs:annotation>
                          <xs:documentation>Содержание предписания</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="controlledPerson" type="ct:individualEntrepreneurOrLegalEntityOrIndividualAndId">
                              <xs:annotation>
                                <xs:documentation>Контролируемое лицо (акт)</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="activityType">
                              <xs:annotation>
                                <xs:documentation>
                                  Вид деятельности, в отношении которой выдано предписание
                                  Допустимые варианты:
                                  - Строительство
                                  - Реконструкция 
                                </xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="bt:notEmptyString">
                                  <xs:enumeration value="Строительство" />
                                  <xs:enumeration value="Реконструкция" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="permanentObjectInfoWithDesignParameters">
                              <xs:annotation>
                                <xs:documentation>Информация об объекте капитального строительства</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:complexContent>
                                  <xs:extension base="ct:permanentObjectInfo">
                                    <xs:sequence>
                                      <xs:element name="designParameters" type="ct:designParameters">
                                        <xs:annotation>
                                          <xs:documentation>
                                            Краткие проектные характеристики объекта капитального строительства
                                          </xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:extension>
                                </xs:complexContent>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="controlEventDecision" type="ct:docNameAndNumberAndDate">
                              <xs:annotation>
                                <xs:documentation>Сведения о решении о проведении проверки</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="controlEventAct" type="ct:docNameAndNumberAndDate">
                              <xs:annotation>
                                <xs:documentation>Сведения об акте проверки</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="controlledPersonName">
                              <xs:annotation>
                                <xs:documentation>Контролируемое лицо (наименование)</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:choice>
                                    <xs:element name="organizationName" type="bt:notEmptyString">
                                      <xs:annotation>
                                        <xs:documentation>
                                          Наименование организации (для юридического лица)
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element name="fullPersonName" type="ct:fullName">
                                      <xs:annotation>
                                        <xs:documentation>
                                          ФИО (для индивидуального предпринимателя и физического лица, не являющегося индивидуальным предпринимателем)
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:choice>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="detectedViolationsList">
                              <xs:annotation>
                                <xs:documentation>Выявленные нарушения (предписание)</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="detectedViolationsListItem" maxOccurs="unbounded">
                                    <xs:annotation>
                                      <xs:documentation>Выявленное нарушение</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="violationNumber" type="xs:positiveInteger">
                                          <xs:annotation>
                                            <xs:documentation>Порядковый номер</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="controlSubjectDescription" type="ct:subjectDescription" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Описание предмета контроля (работа, ОКС или элемент ОКС)</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="violationDescription">
                                          <xs:annotation>
                                            <xs:documentation>Описание нарушения</xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="violationDescriptionText" type="bt:notEmptyString">
                                                <xs:annotation>
                                                  <xs:documentation>Формулировка выявленного нарушения</xs:documentation>
                                                </xs:annotation>
                                              </xs:element>
                                              <xs:element name="technicalRegulationsList">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                    Перечень технических регламентов, иных нормативных правовых актов, требования которых нарушены
                                                  </xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="technicalRegulationsListItem" maxOccurs="unbounded">
                                                      <xs:annotation>
                                                        <xs:documentation>
                                                          Технический регламент, иной нормативный правовой акт, требования которого нарушены
                                                        </xs:documentation>
                                                      </xs:annotation>
                                                      <xs:complexType>
                                                        <xs:complexContent>
                                                          <xs:extension base="ct:docInfo">
                                                            <xs:sequence>
                                                              <xs:element name="technicalRegulationsSectionsList" minOccurs="0">
                                                                <xs:annotation>
                                                                  <xs:documentation>
                                                                    Перечень структурных единиц технического регламента, иного нормативно-правового акта, требования которых нарушены
                                                                  </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element
                                                                      name="technicalRegulationsSectionsListItem"
                                                                      type="ct:docInfo"
                                                                      maxOccurs="unbounded"
                                                                    >
                                                                      <xs:annotation>
                                                                        <xs:documentation>
                                                                          Структурная единица технического регламента, иного нормативно-правового акта, требования которого нарушены
                                                                        </xs:documentation>
                                                                      </xs:annotation>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:extension>
                                                        </xs:complexContent>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="projectDocSectionsList" minOccurs="0">
                                                <xs:annotation>
                                                  <xs:documentation>Список разделов проектной документации (сокр.)</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="projectDocSectionsListItem" maxOccurs="unbounded">
                                                      <xs:annotation>
                                                        <xs:documentation>Раздел проектной документации (сокр.)</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:complexType>
                                                        <xs:complexContent>
                                                          <xs:extension base="ct:docInfo">
                                                            <xs:sequence>
                                                              <xs:element name="projectDocSectionId" type="bt:GUID" minOccurs="0">
                                                                <xs:annotation>
                                                                  <xs:documentation>Id раздела</xs:documentation>
                                                                </xs:annotation>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:extension>
                                                        </xs:complexContent>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                              <xs:element name="workingDocSectionsList" minOccurs="0">
                                                <xs:annotation>
                                                  <xs:documentation>Список разделов рабочей документации (без id)</xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                  <xs:sequence>
                                                    <xs:element name="workingDocSectionsListItem" maxOccurs="unbounded">
                                                      <xs:annotation>
                                                        <xs:documentation>Раздел рабочей документации (без id)</xs:documentation>
                                                      </xs:annotation>
                                                      <xs:complexType>
                                                        <xs:complexContent>
                                                          <xs:extension base="ct:docInfo">
                                                            <xs:sequence>
                                                              <xs:element name="sheetsNumbersList">
                                                                <xs:annotation>
                                                                  <xs:documentation>Список номеров листов внутри раздела</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element
                                                                      name="sheetsNumbersListItem"
                                                                      type="xs:positiveInteger"
                                                                      maxOccurs="unbounded"
                                                                    >
                                                                      <xs:annotation>
                                                                        <xs:documentation>Номер листа внутри раздела</xs:documentation>
                                                                      </xs:annotation>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:extension>
                                                        </xs:complexContent>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:sequence>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="violationPlanFixDate" type="xs:date">
                                          <xs:annotation>
                                            <xs:documentation>Срок устранения выявленного нарушения</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="orderComplianceNotification">
                              <xs:annotation>
                                <xs:documentation>Уведомление о выполнении предписания</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="notificationDate" type="xs:date">
                                    <xs:annotation>
                                      <xs:documentation>Срок уведомления (дата)</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="supervisoryAuthorityInfo" type="ct:legalEntityWithId">
                                    <xs:annotation>
                                      <xs:documentation>Сведения об органе государственного строительного надзора</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="orderIssuedPerson" type="ct:representative">
                        <xs:annotation>
                          <xs:documentation>Сведения о лице, выдавшем предписание</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                      <xs:annotation>
                        <xs:documentation>Id информации, подписываемой лицом выдавшем предписание</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="signature" type="ct:signature">
                  <xs:annotation>
                    <xs:documentation>Подпись лица выдавшего предписание</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="emailSendingInfo" type="ct:emailSendingInfo" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Информация о направлении предписания на электронную почту</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="controlledPersonRepresentative" type="ct:actsRepresentativeWithIdAndOrder" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Представитель контролируемого лица</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                <xs:annotation>
                  <xs:documentation>Id информации, подписываемой представителем контролируемого лица</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="familiarizationOrRefusal" type="ct:familiarizationOrRefusal" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ознакомление или отказ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="gsn223" type="cf:gsn223" />
</xs:schema>
