xml-doc-flow-backend/services/app/src/main/resources/validation-files/ОЖР/gsn/gsn35.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://gsn/gsn35.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
  xmlns:cf="http://gsn/gsn35.xsd"
>
  <xs:import schemaLocation="../CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="gsn35">
    <xs:annotation>
      <xs:documentation>
        Спецификация данных Общего журнала работ
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="gsnInfo">
            <xs:annotation>
              <xs:documentation>Информация о спецификации данных Общего журнала работ</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="journalID" type="bt:notEmptyString">
                  <xs:annotation>
                    <xs:documentation>
                      Идентификационный номер журнала в системе Государственного строительного надзора (Номер дела/регистрационный номер)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="permanentObjectId" type="bt:GUID">
                  <xs:annotation>
                    <xs:documentation>Идентификатор объекта капитального строительства</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="infoAboutStateSupervisionList">
                  <xs:annotation>
                    <xs:documentation>
                      Сведения о государственном строительном надзоре при строительстве, реконструкции, капитальном ремонте объекта капитального строительства
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="infoAboutStateSupervisionListItem" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>
                            Элемент списка сведений о государственном строительном надзоре при строительстве, реконструкции, капитальном ремонте объекта капитального строительства
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="stateSupervisionSignedData">
                              <xs:annotation>
                                <xs:documentation>Подписываемая часть элемента списка сведений о ГСН</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="infoAboutStateSupervisionSignedData">
                                    <xs:annotation>
                                      <xs:documentation>Подписываемые данные элемента списка сведений о госстройнадзоре</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="journalRecordID" type="bt:GUID">
                                          <xs:annotation>
                                            <xs:documentation>ID записи журнала</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="sequenceNumber" type="bt:notEmptyString">
                                          <xs:annotation>
                                            <xs:documentation>Порядковый номер записи</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="controlEventRegistryNumber" type="bt:notEmptyString">
                                          <xs:annotation>
                                            <xs:documentation>
                                              Учетный номер проверки
                                            </xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="controlEventActInfo" type="ct:docBaseInfo">
                                          <xs:annotation>
                                            <xs:documentation>Реквизиты акта КНМ</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="controlEventResultsInfo" type="bt:notEmptyString" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>Данные о результатах КНМ</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="controlEventResultDocID" type="bt:GUID" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>id документа по итогам проверки</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="defectsFixingPlanDateInfo" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>
                                              Дата, к наступлению которой выявленные нарушения должны быть устранены
                                            </xs:documentation>
                                          </xs:annotation>
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="idDoc" type="bt:GUID" minOccurs="0">
                                                <xs:annotation>
                                                  <xs:documentation>id документа</xs:documentation>
                                                </xs:annotation>
                                              </xs:element>
                                              <xs:element name="date" type="xs:date">
                                                <xs:annotation>
                                                  <xs:documentation>Дата</xs:documentation>
                                                </xs:annotation>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element name="stateSupervisionOfficialInfo" type="ct:representative">
                                          <xs:annotation>
                                            <xs:documentation>Должностное лицо государственного строительного надзора</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                      <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                                        <xs:annotation>
                                          <xs:documentation>Id подписываемой части (для подписи должностного лица ГСН)</xs:documentation>
                                        </xs:annotation>
                                      </xs:attribute>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="stateSupervisionOfficialSignature" type="ct:signature">
                                    <xs:annotation>
                                      <xs:documentation>Подпись должностного лица государственного строительного надзора</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="defectsFixingFactDateInfo" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Фактическая дата устранения выявленных нарушений</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="idDoc" type="bt:GUID" minOccurs="0">
                                          <xs:annotation>
                                            <xs:documentation>id документа</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="date" type="xs:date">
                                          <xs:annotation>
                                            <xs:documentation>Дата</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="defectControlDenialReason" type="bt:notEmptyString" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Причина снятия нарушения с контроля</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="stateSupervisionOfficialInfo" type="ct:representative" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Должностное лицо государственного строительного надзора</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                                <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Id подписываемой части элемента списка сведений о ГСН</xs:documentation>
                                  </xs:annotation>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="stateSupervisionOfficialSignature" type="ct:signature" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Подпись должностного лица государственного строительного надзора</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="gsn35" type="cf:gsn35" />
</xs:schema>
