services/app/src/main/resources/validation-files/AROOKSNM/idActs/AROOKSNM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema version="1.0.0"
  targetNamespace="http://idActs/AROOKSNM.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cf="http://idActs/AROOKSNM.xsd"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="arooksnm">
    <xs:annotation>
      <xs:documentation>
        Акт разбивки осей объекта капитального строительства на местности
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="actInfo">
            <xs:annotation>
              <xs:documentation>Информация в акте, которую надо подписать</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActInfoGroup">
                  <xs:annotation>
                    <xs:documentation>
                      Блоки общих данных для актов
                      Правила заполнения:

                      В элементах developer, technicalCustomer, operatingPerson или regionalOperator:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области инженерных изысканий, архитектурно-строительного проектирования,
                      строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе buildingContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе projectDocumentationContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области архитектурно-строительного проектирования не требуется

                      Элементы developerRepresentative, technicalCustomerRepresentative, 
                      operatingPersonRepresentative или regionalOperatorRepresentative заполняются в 
                      случае осуществления строительства, реконструкции, капитального ремонта на 
                      основании договора строительного подряда. При этом, элемент organization заполняется
                      в случае осуществления строительного контроля на основании договора с застройщиком 
                      или техническим заказчиком

                      Элемент projDocContractRepresentative заполняется в случаях, когда осуществляется 
                      авторский надзор. При этом, элемент organization заполняется в случае осуществления 
                      авторского надзора лицом, не являющимся разработчиком проектной документации

                      Элемент workExecutorRepresentative заполняется в случае выполнения работ по разбивке
                      осей объекта капитального строительства на местности по договору, заключенному с
                      иными лицами
                    </xs:documentation>
                  </xs:annotation>
                </xs:group>
                <xs:element name="inspectionObject">
                  <xs:annotation>
                    <xs:documentation>Предмет освидетельствования - разбивка осей на местности</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="permanentObjectName" type="bt:notEmptyString">
                        <xs:annotation>
                          <xs:documentation>Наименование объекта капитального строительства</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="permanentObjectId" type="bt:GUID">
                        <xs:annotation>
                          <xs:documentation>идентификатор объекта капитального строительства </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="workAndControlJournalsRecords" type="ct:journalRecordLinkGroup">
                        <xs:annotation>
                          <xs:documentation>Записи в журналах работ и контроля</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="axes">
                        <xs:annotation>
                          <xs:documentation>Перечень строительных осей</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:choice>
                            <xs:element name="obligatoryLiteralAxesList">
                              <xs:annotation>
                                <xs:documentation>Вариант с обязательными буквенными осями</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="literalAxesList">
                                    <xs:annotation>
                                      <xs:documentation>Буквенные оси</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="literalAxesListItem" type="bt:notEmptyString" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Буквенная ось</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="numericAxesList" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Цифровые оси</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="numericAxesListItem" type="bt:notEmptyString" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Цифровая ось</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="obligatoryNumericAxesList">
                              <xs:annotation>
                                <xs:documentation>Вариант с обязательными цифровыми осями</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="literalAxesList" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Буквенные оси</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="literalAxesListItem" type="bt:notEmptyString" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Буквенная ось</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="numericAxesList">
                                    <xs:annotation>
                                      <xs:documentation>Цифровые оси</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="numericAxesListItem" type="bt:notEmptyString" maxOccurs="unbounded">
                                          <xs:annotation>
                                            <xs:documentation>Цифровая ось</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="subObjectName" type="bt:notEmptyString" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            Наименование подобъекта, сооружения или другого крупного структурного элемента объекта капитального строительства
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="structureElementId" type="bt:GUID" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>id структурного элемента</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="workAndProjectDocumentationsList">
                  <xs:annotation>
                    <xs:documentation>
                      Проектная/рабочая документация, по которой выполнены работы (список)
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="workAndProjectDocumentationsListItem" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>
                            Проектная/рабочая документация, по которой выполнены работы
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="workAndProjectDocumentation" type="ct:workAndProjectDocumentation">
                              <xs:annotation>
                                <xs:documentation>Сведения о разделах проектной и/или рабочей документации</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="organization">
                              <xs:annotation>
                                <xs:documentation>
                                  Организация, выполнившая соответствующий раздел рабочей (проектной) документации
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:choice>
                                  <xs:element name="fullOrganizationInfo" type="ct:organizationWithOptionalSroAndId">
                                    <xs:annotation>
                                      <xs:documentation>Полная информация об организации</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="shortOrganizationInfo" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                                    <xs:annotation>
                                      <xs:documentation>Краткая информация об организации (ID, ФИО ИП / наименование ЮЛ)</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="axesFixingMethodDescription" type="bt:notEmptyString">
                  <xs:annotation>
                    <xs:documentation>Описание способа закрепления осей</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="axesLayoutRequirementsDocs">
                  <xs:annotation>
                    <xs:documentation>
                      Требования, в соответствии с которыми выполнена разбивка осей объекта капитального строительства на местности 
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="workAndProjectDocumentationsList">
                        <xs:annotation>
                          <xs:documentation>Проектная/рабочая документация, по которой выполнены работы (список)</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="workAndProjectDocumentationsListItem" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:annotation>
                                  <xs:documentation>Проектная/рабочая документация, по которой выполнены работы</xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                  <xs:element name="workAndProjectDocumentation" type="ct:workAndProjectDocumentation">
                                    <xs:annotation>
                                      <xs:documentation>Сведения о разделах проектной и/или рабочей документации</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="organization">
                                    <xs:annotation>
                                      <xs:documentation>
                                        Организация, выполнившая соответствующий раздел рабочей (проектной) документации
                                      </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                      <xs:choice>
                                        <xs:element name="fullOrganizationInfo" type="ct:organizationWithOptionalSroAndId">
                                          <xs:annotation>
                                            <xs:documentation>Полная информация об организации</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                        <xs:element name="shortOrganizationInfo" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                                          <xs:annotation>
                                            <xs:documentation>Краткая информация об организации (ID, ФИО ИП / наименование ЮЛ)</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:choice>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ntd" type="ct:ntd">
                        <xs:annotation>
                          <xs:documentation>Перечень технических регламентов, иных НПА и их структурных единиц</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="asBuiltSchemasList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Схема закрепления осей (список)</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="asBuiltSchemasListItem" type="ct:docNameAndNumberAndDate" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Исполнительная схема / чертеж</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="xs:string" fixed="actInfo" use="required">
                <xs:annotation>
                  <xs:documentation>Подписываемая часть</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="signatures" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подписи</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActSignaturesGroup">
                  <xs:annotation>
                    <xs:documentation>Блок подписей для актов</xs:documentation>
                  </xs:annotation>
                </xs:group>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="actsServiceAttributes" type="ct:docServiceAttributes">
            <xs:annotation>
              <xs:documentation>Служебные атрибуты документа ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="arooksnm" type="cf:arooksnm"/>
</xs:schema>
