services/app/src/main/resources/validation-files/AOSR/idActs/AOSR.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema version="1.0.0"
  targetNamespace="http://idActs/AOSR.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cf="http://idActs/AOSR.xsd"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />

  <xs:complexType name="aosr">
    <xs:annotation>
      <xs:documentation>Акт скрытых работ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="actInfo">
            <xs:annotation>
              <xs:documentation>Информация в акте, которую надо подписать</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActInfoGroup">
                  <xs:annotation>
                    <xs:documentation>
                      Блоки общих данных для актов
                      Правила заполнения:

                      В элементах developer, technicalCustomer, operatingPerson или regionalOperator:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области инженерных изысканий, архитектурно-строительного проектирования,
                      строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе buildingContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области строительства, реконструкции, капитального ремонта объектов капитального
                      строительства не требуется

                      В элементе projectDocumentationContractor:
                      элемент sro не заполняется только когда членство в саморегулируемых организациях
                      в области архитектурно-строительного проектирования не требуется

                      Элемент date (Дата составления) акта является датой установления факта соответствия
                      результатов работ требованиями не всегда равна дате завершения работ

                      Элементы developerRepresentative, technicalCustomerRepresentative, 
                      operatingPersonRepresentative или regionalOperatorRepresentative заполняются в 
                      случае осуществления строительства, реконструкции, капитального ремонта на 
                      основании договора строительного подряда. При этом, элемент organization заполняется
                      в случае осуществления строительного контроля на основании договора с застройщиком 
                      или техническим заказчиком

                      Элемент projDocContractRepresentative заполняется в случаях, когда осуществляется 
                      авторский надзор. При этом, элемент organization заполняется в случае осуществления 
                      авторского надзора лицом, не являющимся разработчиком проектной документации

                      Элемент workExecutorRepresentative заполняется в случае выполнения работ по договорам
                      о строительстве, реконструкции, капитальном ремонте объектов капитального
                      строительства, заключенным с иными лицами

                      Элемент otherRepresentativesList заполняется в случае присутствия иных лиц,
                      участвующих в освидетельствовании. При этом, если ранее организация не была 
                      упомянута в акте, то помимо её наименования необходимо указать ОГРН, ИНН, 
                      место нахождения юридического лица, адрес места жительства, ОГРНИП, ИНН 
                      индивидуального предпринимателя
                    </xs:documentation>
                  </xs:annotation>
                </xs:group>
                <xs:element name="workExecutor" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                  <xs:annotation>
                    <xs:documentation>
                      Лицо, выполнившее работы / конструкции/участки сетей, в отношении которых проведено освидетельствование
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="worksList">
                  <xs:annotation>
                    <xs:documentation>Работы, предъявленные к освидетельствованию</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="worksListItem" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Работа, предъявленная к освидетельствованию</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="workJournalRecords" type="ct:journalRecordLinkGroup">
                              <xs:annotation>
                                <xs:documentation>Записи в журналах работ и контроля</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="workDescription" type="ct:hiddenWorkInfo">
                              <xs:annotation>
                                <xs:documentation>Описание работы</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="location" type="ct:location">
                              <xs:annotation>
                                <xs:documentation>Местоположение</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="workAndProjectDocumentationsList">
                  <xs:annotation>
                    <xs:documentation>Проектная/рабочая документация, по которой выполнены работы (список)</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="workAndProjectDocumentationsListItem" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Проектная/рабочая документация, по которой выполнены работы</xs:documentation>
                          </xs:annotation>
                          <xs:sequence>
                            <xs:element name="workAndProjectDocumentation" type="ct:workAndProjectDocumentation">
                              <xs:annotation>
                                <xs:documentation>Сведения о разделах проектной и/или рабочей документации</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="organization">
                              <xs:annotation>
                                <xs:documentation>
                                  Организация, выполнившая соответствующий раздел рабочей (проектной) документации
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:choice>
                                  <xs:element name="fullOrganizationInfo" type="ct:organizationWithOptionalSroAndId">
                                    <xs:annotation>
                                      <xs:documentation>Полная информация об организации</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="shortOrganizationInfo" type="ct:shortIndividualEntrepreneurOrLegalEntityAndId">
                                    <xs:annotation>
                                      <xs:documentation>Краткая информация об организации (ID, ФИО ИП / наименование ЮЛ)</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="usedMaterialsList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Материалы, примененные при выполнении работ</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="usedMaterialsListItem" type="ct:material" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>Материал, примененный при выполнении работ</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="examinationDocuments" type="ct:examinationDocuments" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Документы, подтверждающие соответствие работ предъявляемым требованиям</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="worksDate" type="ct:dateInterval">
                  <xs:annotation>
                    <xs:documentation>Даты начала и окончания работ</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="accordantWorkAndProjectDocumentation" type="ct:accordantWorkAndProjectDocumentation">
                  <xs:annotation>
                    <xs:documentation>Требования, которым соответствует предмет освидетельствования</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="allowedWorksList">
                  <xs:annotation>
                    <xs:documentation>Работы или элементы, выполнение которых разрешается</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="allowedWorksListItem" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>
                            Работа/элемент, выполнение которой/-ого разрешается
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="workId" type="bt:notEmptyString" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>id работы</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="structureElementId" type="bt:notEmptyString" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>id структурного элемента</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:choice>
                              <xs:element name="worksName" type="bt:notEmptyString">
                                <xs:annotation>
                                  <xs:documentation>Наименование работы</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="structuresName" type="bt:notEmptyString">
                                <xs:annotation>
                                  <xs:documentation>Наименование конструкций</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="utilitySystemsSectionsName" type="bt:notEmptyString">
                                <xs:annotation>
                                  <xs:documentation>Наименование участков сетей инженерно-технического обеспечения</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="attachmentsList" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Приложения</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="attachmentsListItem" type="ct:actAttachment" maxOccurs="unbounded">
                        <xs:annotation>
                          <xs:documentation>
                            Приложение
                            Реквизиты документов, подтверждающих качество и безопасность материалов и изделий, в
                            данном поле не указываются; в случае если составлялись реестры документов по разделам 
                            3 и 4, то реквизиты данных реестров так же указываются в этом поле.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="xs:string" fixed="actInfo" use="required">
                <xs:annotation>
                  <xs:documentation>Подписываемая часть</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
          <xs:element name="signatures" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подписи</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:group ref="ct:commonActSignaturesGroup">
                  <xs:annotation>
                    <xs:documentation>Блок подписей для актов</xs:documentation>
                  </xs:annotation>
                </xs:group>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="actsServiceAttributes" type="ct:docServiceAttributes">
            <xs:annotation>
              <xs:documentation>Служебные атрибуты документа ИД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="aosr" type="cf:aosr"/>
</xs:schema>
