services/app/src/main/resources/validation-files/ОЖР/idJournals/WorkInfo.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://idJournals/WorkInfo.xsd"
  elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ct="http://types/CommonTypes.xsd"
  xmlns:cf="http://idJournals/WorkInfo.xsd"
  xmlns:bt="http://types/BaseTypes.xsd"
  xmlns:bd="http://types/BaseDocument.xsd"
  xmlns:sg="http://www.w3.org/2000/09/xmldsig#"
>
  <xs:import schemaLocation="../types/CommonTypes.xsd" namespace="http://types/CommonTypes.xsd" />
  <xs:import schemaLocation="../types/BaseTypes.xsd" namespace="http://types/BaseTypes.xsd" />
  <xs:import schemaLocation="../types/BaseDocument.xsd" namespace="http://types/BaseDocument.xsd" />
  <xs:import schemaLocation="../types/Xmldsig.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />

  <xs:complexType name="workInfo">
    <xs:annotation>
      <xs:documentation>Запись о работе в 3 разделе общего журнала</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="bd:baseDocument">
        <xs:sequence>
          <xs:element name="permanentObjectId" type="bt:GUID">
            <xs:annotation>
              <xs:documentation>ID объекта капитального строительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="docInfo">
            <xs:annotation>
              <xs:documentation>Идентификатор документа</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="name" type="bt:notEmptyString">
                  <xs:annotation>
                    <xs:documentation>Наименование документа</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="number" type="bt:notEmptyString" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>Номер/код/шифр документа</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="JournalID" type="bt:notEmptyString" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>
                      Идентификационный номер журнала в системе Государственного строительного надзора (Номер дела/регистрационный номер)
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arrayInfo" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Массив сведений о выполненных работах</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="info">
                  <xs:annotation>
                    <xs:documentation>Подписываемая часть</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="workRecordInfo">
                        <xs:annotation>
                          <xs:documentation>Идентификатор записи</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="generalWorkJournalRecordId" type="bt:GUID">
                              <xs:annotation>
                                <xs:documentation>Идентификатор записи в общем журнале</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="workCompletionDate" type="xs:date">
                              <xs:annotation>
                                <xs:documentation>Дата выполнения работ</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:choice>
                        <xs:element name="constructionWorksInfoList">
                          <xs:annotation>
                            <xs:documentation>
                              Наименование работ, выполняемых в процессе строительства, реконструкции, капитального ремонта объекта капитального строительства
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="constructionWorksInfoListItem" type="ct:workOrTestInfo" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:documentation>Наименование работы</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="testingsInfoList">
                          <xs:annotation>
                            <xs:documentation>
                              Сведения о проведенных испытаниях конструкций, оборудования, систем, сетей и устройств (опробование вхолостую или под нагрузкой, подача электроэнергии, давления, испытания на прочность и герметичность и др.)
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="testingsInfoListItem" type="ct:workOrTestInfo" maxOccurs="unbounded">
                                <xs:annotation>
                                  <xs:documentation>Сведения о проведенном испытании</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                      <xs:element name="asBuiltSchemas" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Список исполнительных схем и чертежей</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="asBuiltSchema" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Исполнительная схема или чертеж</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:group ref="ct:docInfoGroup">
                                    <xs:annotation>
                                      <xs:documentation>Наименование и номер документа</xs:documentation>
                                    </xs:annotation>
                                  </xs:group>
                                  <xs:element name="id" type="bt:GUID">
                                    <xs:annotation>
                                      <xs:documentation>Id документа</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="date" type="xs:date" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Дата документа</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="examResults"  minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            Результаты экспертиз, обследований, лабораторных и иных испытаний выполненных работ, проведенных в процессе строительного контроля
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="examResult" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  Результат экспертиз, обследований, лабораторных и иных испытаний выполненных работ, проведенных в процессе строительного контроля
                                </xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:group ref="ct:docNameAndNumberAndDateGroupWithoutId">
                                    <xs:annotation>
                                      <xs:documentation>Наименование, номер и дата документа</xs:documentation>
                                    </xs:annotation>
                                  </xs:group>
                                  <xs:element name="examinationName" type="bt:notEmptyString" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Наименование экспертизы, обследования, испытания и т.п.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="attachedDocuments" type="ct:attachedDocuments">
                                    <xs:annotation>
                                      <xs:documentation>Информация о документе(документax), загруженном(загруженных) в хранилище</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="workAndProjectDocumentation" type="ct:workAndProjectDocumentation">
                        <xs:annotation>
                          <xs:documentation>
                            Список разделов ПД и/или РД, на основании которых выполнялась работа
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="usedMaterials" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Сведения о применяемых строительных материалах, изделиях и конструкциях</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="usedMaterial" type="ct:material" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>Сведения о применяемом строительном материале, изделии или конструкции</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="ntd" type="ct:ntd">
                        <xs:annotation>
                          <xs:documentation>НТД-1</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="representative" type="ct:representative">
                        <xs:annotation>
                          <xs:documentation>
                            Сведения о представителе лица, осуществляющего строительство, уполномоченном на внесение записей в ОЖР
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="bt:GUIDandUnderscore" use="required">
                      <xs:annotation>
                        <xs:documentation>Id подписываемой части</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:complexType>
                </xs:element>
                <xs:element name="signature" type="ct:signature">
                  <xs:annotation>
                    <xs:documentation>
                      Подпись представителя лица, осуществляющего строительство, уполномоченного на внесение записей в ОЖР
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="extraParametersList" type="ct:extraParametersList" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Список дополнительных параметров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="workInfo" type="cf:workInfo" />
</xs:schema>
